* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

html {
    color: #051a24;
}

body {
    background-color: #F6F1F1;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F6F1F1;
    padding: 1rem 20%;
    border-bottom: 1px solid #051a24;
    box-shadow: 0 3px 20px 2px rgba(5,26,36,0.2);
    transition: all .5s ease;
}

.title {
    font-size: 2rem;
    font-weight: 500;
    color: #051a24;
}

.navlist {
    display: flex;
}

.navlist a {
    color: #051a24;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0 2rem;
    transition: all .5s ease;
}

.navlist a:hover{
    color: #146C94;
    font-weight: 600;
}

.home {
    padding: 10rem 20% 10rem;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100vh;
    width: 100%;
}

.slide {
    margin-bottom: 0.4rem;
}

.slide .one {
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 0.6rem;
}

.slide .two {
    font-size: 1.6rem;
    font-weight: 500;
}

.name {
    font-size: 2rem;
    color: #146C94;
    font-weight: 600;
}

.pos {
    font-size: 1.8rem;
    color: #19A7CE;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.text {
    line-height: 1.9;
    font-size: 1.1rem;
    font-weight: 500;
}

.home-img {
    max-height: 1000px;
    display: flex;
    justify-content: flex-end;
}

.project {
    padding: 8rem 20% 10rem;
    background-color: rgba(175, 211, 226,0.5);
}

.profile-img {
    border-radius: 100rem;
    width: 70%;
}

.project .main-text h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #146C94;
    margin-bottom: 5rem;
}

.project-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.5rem;
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 0.6rem;
    cursor: pointer;
}

.row img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    border-radius: 0.6rem;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), #146C94);
    position: absolute;
    border-radius: 0.6rem;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    transition: height 0.5s;
    color: #F6F1F1;
}

.layer h5 {
    font-size: 1.2rem;
    font-weight: 500px;
    margin-bottom: 1rem;
}

.layer p {
    text-align: center;
    font-size: 1rem;
}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer{
    height: 100%;
}